* {
    background-color: darkred;
}

img {
    height: 300px;
    width: auto;
}



/* In your HTML, create an article tag that will serve as your main representative component. Give the element a unique identifier.

In this component, create a sub-component for basic information using the section tag. In this section create elements for the representative's image, name, district info, and political affiliation.

Beneath the basic information, you will create a sub-component, using a section tag, to list any committees the candidate is serving on.

The last component will hold links to any legislation that your representative has enacted.

Make sure you use good BEM-style class names for each element in your components. Put a comment above each component explaining what it is. */